footer.footer
	.footer__content.container
		.site-map
			ul.site-map__link-list
				each object, key in data.footer.site_map_links
					li
						a.site-map__link.simple-link(
							href=object.url
							data-link=key
						)
							!= object.name
				each object, key in data.header.info_links
					li
						a.site-map__link.simple-link(
							href=object.url
							data-link=key
						)
							!= object.name
		.shop-info
			a(href="tel:+74950183210").footer__phone-link 8 495 018-32-10
			a.simple-btn Заказать звонок
			p Пн-Пт: 10:00 — 20:00<br>Сб: 10:00 — 18:00<br>Вс: выходной
		.storage-info
			p Склад:<br>Москва, ул. Салтыковская, 6 стр. 11<br><a class="footer__text-link">zakaz@ggpromarket.ru</a>
		.footer__logo
			a(href="#")
				#{data.logo_icon.svg}
			<p class="footer__text">© <span data-actual-year></span> ggpromarket.ru</p>
		ul.footer__social-links
			li
				a(href="#" title="Написать в whatsapp")
					<svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_55_36411)"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 0C6.2656 0 0 6.26561 0 14C0 16.6401 0.7251 19.1129 2.00797 21.2324L0.2417 28L7.2324 26.2709C9.24037 27.3865 11.5458 28.0186 14 28.0186C21.7344 28.0186 28 21.753 28 14.0186C28 6.2656 21.7344 0 14 0ZM14 25.6574C11.6388 25.6574 9.42629 24.9509 7.58566 23.7238L3.55113 24.7092L4.55511 20.8234C3.16069 18.9084 2.34263 16.5471 2.34263 13.9814C2.34263 7.54847 7.56707 2.32404 14 2.32404C20.4329 2.32404 25.6574 7.54847 25.6574 13.9814C25.6574 20.4329 20.4329 25.6574 14 25.6574ZM20.5631 17.1793C20.2098 16.9934 18.4807 16.0637 18.1647 15.9336C17.8486 15.8035 17.6069 15.7291 17.3466 16.0823C17.0863 16.4356 16.3798 17.2165 16.1567 17.4396C15.9336 17.6627 15.7291 17.6999 15.3758 17.4954C15.0226 17.3094 13.8884 16.8818 12.5684 15.6175C11.5458 14.6321 10.8765 13.4422 10.672 13.0704C10.4675 12.6985 10.6906 12.5312 10.8579 12.3453C11.0252 12.1594 11.2297 11.9363 11.4157 11.7317C11.6016 11.5272 11.7317 11.3599 11.7875 11.1554C11.8619 10.8951 11.8619 10.7092 11.7875 10.5232C11.7131 10.3373 11.0996 8.53386 10.7835 7.82736C10.5418 7.28818 10.2258 7.2324 10.0027 7.19522C9.79814 7.15803 9.55644 7.15803 9.31474 7.13944C9.07304 7.13944 8.6826 7.21381 8.34794 7.54847C8.01328 7.90173 7.04648 8.71979 6.9907 10.4861C6.91633 12.2523 8.14343 14 8.31076 14.2417C8.47809 14.4834 10.6348 18.2948 14.2231 19.8752C15.7291 20.5259 16.6029 20.842 17.1607 20.9721C17.9416 21.158 19.0571 20.7862 19.4475 20.6003C20.0797 20.3028 20.749 19.838 20.9535 19.3174C21.2882 18.4993 21.3068 17.7742 21.2324 17.6255C21.158 17.4768 20.9163 17.3838 20.5631 17.1793Z" /></g><defs><clipPath id="clip0_55_36411"><rect width="28" height="28" fill="white"/></clipPath></defs></svg>
			li
				a(href="#" title="Наш профиль в instagram")
					<svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path d="M14.0098 2.52764C17.7523 2.52764 18.1833 2.54724 19.6725 2.60602C21.0441 2.6648 21.7887 2.89993 22.2785 3.09587C22.9251 3.35059 23.3954 3.64451 23.8852 4.13436C24.3751 4.62421 24.669 5.09447 24.9237 5.74108C25.1197 6.23093 25.3352 6.97551 25.4136 8.3471C25.4724 9.81666 25.492 10.2673 25.492 14.0098C25.492 17.7523 25.4724 18.1833 25.4136 19.6725C25.3548 21.0441 25.1197 21.7887 24.9237 22.2785C24.669 22.9251 24.3751 23.3954 23.8852 23.8852C23.3954 24.3751 22.9251 24.669 22.2785 24.9237C21.7887 25.1197 21.0441 25.3352 19.6725 25.4136C18.2029 25.4724 17.7523 25.492 14.0098 25.492C10.2673 25.492 9.83625 25.4724 8.3471 25.4136C6.97551 25.3548 6.23093 25.1197 5.74108 24.9237C5.09447 24.669 4.62421 24.3751 4.13436 23.8852C3.64451 23.3954 3.35059 22.9251 3.09587 22.2785C2.89993 21.7887 2.68439 21.0441 2.60602 19.6725C2.54724 18.2029 2.52764 17.7523 2.52764 14.0098C2.52764 10.2673 2.54724 9.83625 2.60602 8.3471C2.6648 6.97551 2.89993 6.23093 3.09587 5.74108C3.35059 5.09447 3.64451 4.62421 4.13436 4.13436C4.62421 3.64451 5.09447 3.331 5.74108 3.09587C6.23093 2.89993 6.97551 2.68439 8.3471 2.60602C9.81666 2.52764 10.2673 2.52764 14.0098 2.52764ZM14.0098 0C10.2085 0 9.71869 0.0195941 8.22953 0.0783765C6.74038 0.156753 5.72148 0.391882 4.83975 0.744577C3.91882 1.09727 3.13506 1.56753 2.35129 2.35129C1.56753 3.13506 1.09727 3.91882 0.744577 4.83975C0.391882 5.72148 0.156753 6.74038 0.0783765 8.22953C0.0195941 9.71869 0 10.2085 0 14.0098C0 17.8111 0.0195941 18.2813 0.0783765 19.7901C0.137159 21.2792 0.391882 22.2981 0.724983 23.1798C1.09727 24.1008 1.56753 24.8845 2.35129 25.6487C3.13506 26.4325 3.91882 26.9027 4.83975 27.2554C5.72148 27.6081 6.74038 27.8432 8.24913 27.902C9.73828 27.9608 10.2281 27.9804 14.0294 27.9804C17.8307 27.9804 18.3009 27.9608 19.8097 27.902C21.2988 27.8432 22.3177 27.5885 23.219 27.2554C24.14 26.9027 24.9237 26.4129 25.7075 25.6487C26.4913 24.8649 26.9615 24.0812 27.3142 23.1603C27.6669 22.2785 27.902 21.2596 27.9608 19.7705C28.0196 18.2813 28.0392 17.7915 28.0392 13.9902C28.0392 10.1889 28.0196 9.71869 27.9608 8.20994C27.902 6.72078 27.6473 5.70189 27.3142 4.82015C26.9223 3.91882 26.4325 3.13506 25.6683 2.35129C24.8845 1.56753 24.1008 1.09727 23.1798 0.744577C22.2981 0.391882 21.2792 0.156753 19.7705 0.0979706C18.2813 0.0195941 17.8111 0 14.0098 0Z" /><path d="M14.0094 6.81873C10.0318 6.81873 6.81836 10.0322 6.81836 14.0098C6.81836 17.9874 10.0318 21.2008 14.0094 21.2008C17.987 21.2008 21.2004 17.9874 21.2004 14.0098C21.2004 10.0322 17.9674 6.81873 14.0094 6.81873ZM14.0094 18.6732C11.423 18.6732 9.346 16.5766 9.346 14.0098C9.346 11.4233 11.4426 9.34637 14.0094 9.34637C16.5958 9.34637 18.6728 11.4429 18.6728 14.0098C18.6728 16.5766 16.5762 18.6732 14.0094 18.6732Z" /><path d="M23.1602 6.52482C23.1602 7.44574 22.4157 8.20991 21.4751 8.20991C20.5542 8.20991 19.79 7.46533 19.79 6.52482C19.79 5.60389 20.5346 4.83972 21.4751 4.83972C22.4157 4.83972 23.1602 5.60389 23.1602 6.52482Z" /></svg>

			li
				a(href="#" title="Написать в telegram")
					<svg width="33" height="28" viewBox="0 0 33 28" xmlns="http://www.w3.org/2000/svg"><path d="M30.8129 0.226458L1.23452 11.4554C-0.373227 11.931 -0.332003 13.5234 0.8635 13.9163L8.26325 16.2324L11.1077 24.9591C11.4581 25.9104 11.7261 26.2826 12.3238 26.2826C12.9422 26.2826 13.1689 26.0551 13.8285 25.4968C14.5706 24.7937 15.7248 23.677 17.5387 21.8985L25.2476 27.6061C26.6699 28.3919 27.6799 27.9783 28.0509 26.2826L32.8741 2.29441C33.3894 0.226458 32.1733 -0.393926 30.8129 0.226458ZM9.43814 15.6947L26.2782 5.08613C27.1027 4.52779 27.3707 5.14817 26.9997 5.58244L13.0246 18.1969L12.3032 24.5042L9.43814 15.6947Z"/></svg>
		a.footer__yandex-review-link(href="#" title="Оценить на яндекс маркете")
	.footer__copyright.container
		p.footer__text.copyright Копирование всех составляющих частей сайта в какой бы то ни было форме без письменного разрешения владельцев авторских прав запрещено. Сайт носит исключительно информационный характер, и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437(2) Гражданского кодекса Российской Федерации.Наличие и цены уточняйте у наших операторов.
		p.footer__text.cookie Сайт использует технологию cookie. Используя сайт, Вы соглашаетесь с <a class="footer__text-link" href="#">правилами использования</a> cookie, а также даете <a class="footer__text-link" href="#">согласие на обработку персональных данных</a>
